@font-face {
    font-family: "Jungle";
    src: url("JungleFever.otf");
    font-weight: normal;
  }


.navbar {
    width: 100%;
    height: 12%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
}

nav li {
    display: inline-block;
    margin: 0 40px;
}


.message, .Messages {
    font-family: "Jungle", Arial, Helvetica, sans-serif
}

.correctMessage {
    color: rgb(0, 255, 0);
    -webkit-text-stroke: rgb(5, 54, 5);
    -webkit-text-stroke-width: .1px;
}

.incorrectMessage {
    color: rgb(255, 78, 93);
    -webkit-text-stroke: rgb(5, 54, 5);
    -webkit-text-stroke-width: .2px;
}



.update {
	-webkit-animation: update 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: update 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            color: white;
    -webkit-text-stroke: rgb(5, 54, 5);
    -webkit-text-stroke-width: .1px;
    text-shadow: 2px 2px 1px #310606;
}

 @-webkit-keyframes update {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes update {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

.scoreWin {
    font-size: 18px;
    font-family: "Jungle", Arial, Helvetica, sans-serif
}

.name {
    font-size: 15px;
    font-family: "Jungle", Arial, Helvetica, sans-serif
}

.scores {
    font-family: "Jungle", Arial, Helvetica, sans-serif
}


@media screen and (max-width: 1258px) { 

.incorrectMessage {
    padding-right: 30px;
    margin-left: -50px;
}

.update {
    display: block;
}

}

@media screen and (max-width: 1165px) { 
    .incorrectMessage {
        font-size: 14px;
        margin-left: -70px;
    }
    }

@media screen and (max-width: 1173px) { 
   .scores {
       font-size: 16px;
   }

  }

@media screen and (max-width: 1106px) { 
.scores {
    margin-left: -30px;
    font-size: 14px;
}

.correctMessage {
    padding-right: 100px;
}

}

@media screen and (max-width: 994px) { 
    .scores {
        margin-left: -0px;
    }

    /* nav li {
        margin-top: 1px;
    } */
    }
     
 

@media screen and (max-width: 991px) { 
  
    nav {
        height: 15%;
    }
  
    nav li {
   margin-left: 200px;
}

.name {
    margin-left: 102px;
}

.incorrectMessage {
    padding-right: 100px;
    margin-right: 20px;
    text-align: center;
}


.scores {
    font-size: 12px;
    margin-left: 20px; 
}
}

@media screen and (max-width: 629px) and (min-width: 550px) { 
    nav {
        height: 20%;
    }

    .correctMessage {
        padding-right: 60px;
    }

    .update {
        margin-left: -20px;
    }

}

@media screen and (max-width: 576px) { 

    .name {
        visibility: hidden;
    }

    nav {
        height: 14%;
    }
}


@media screen and (max-width: 549px) { 
    nav li {
     margin-left: 50px;
  }

 
  .name {
      margin-left: 50px;
  }
  
  .correctMessage {
      margin-left: 40px;
  }
  
  .update {
      margin-right: -120px;
  }
  
  .scores {
      font-size: 18px;
      margin-left: 20px;
      margin-bottom: 20px;
  }
  }
    
  @media screen and (max-width: 437px) { 
    /* nav li {
     margin-left: 50px;
  } */

  navbar {
      height: 15%;
  }

  nav {
      margin-bottom: -3px;
  }
 
  .name {
     visibility: hidden;
  }

  .update {
      margin-top: 20px;
  }
  
  .correctMessage {
    font-size: 13px;
    margin-right: -120px;
  }

  .incorrectMessage {
    font-size: 12px;
    display: block;
    margin-left: 65px;
    text-align: center;
    margin-top: -10px;
}
  .scores {
      font-size: 16px;
      margin-left: 14px;
      margin-bottom: 50px;
  }
  }
    
  @media screen and (max-width: 375px) {
    .incorrectMessage {
        margin-right: -10px;
    }

    .correctMessage {
        margin-left: 25px;
    }
    .update {
        margin-right: 10px;
    }
  }
